<nav class="navbar navbar-expand-lg navbar-dark brand">
  <a class="navbar-brand" routerLink="/">
    <div class="row">
      <div class="col-sm-4">
        <img
          src="/assets/logo.png"
          class="mr-5"
          width="50"
          height="50"
          alt=""
        />
      </div>
      <div class="col-sm-8">
        <div class="row"><span class="title ml-2">ACME</span></div>
        <div class="row"><span class="small ml-2">Mortgage</span></div>
      </div>
      <br />
    </div>
  </a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto"></ul>

    <a class="mr-2" (click)="logout()" style="cursor: pointer; color:white">
      Logout
    </a>
  </div>
</nav>

<div class="container-fluid"><router-outlet></router-outlet></div>
