.details-profile-pic {
  border-radius: 60px;
}

.approve-button {
  background-color: #4cd964;
  border-radius: 26px;
  color: white;
  width: 70%;
}

.reject-button {
  background-color: #ebebeb;
  border-radius: 26px;
  color: red;
  width: 70%;
}

.icon {
  font-size: 64px;
  color: #1159a7;
}
